.fondo-header {
background-color: black;
    color: $colornav;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 15px 10px;
    position: sticky;

    .flex-nav {
        display: flex;
        gap: 15px;
        justify-content: center;
    }

    .iniciar-sesion {
        display: flex;
        margin: 18px;
        gap: 10px;
        color: $colornav;
    }


}